version: "3.8"

services:
  app:
    build: .
    container_name: nectar-api
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - mongo
    restart: unless-stopped

  mongo:
    image: mongo:7
    container_name: nectar-mongo
    restart: unless-stopped

    command: [ "mongod", "--profile=1", "--slowms=0", "--logpath", "/dev/stdout", "--logappend" ]

    environment:
      MONGO_INITDB_DATABASE: nectar

    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data: